<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update course</title>
</head>
<body>
<form action="#"
      th:action="@{/api/courses/{id}(id=${course.id})}"
      th:method="PATCH"
      th:object="${course}">

    <label for="name">name</label>
    <input id="name" th:field="${course.courseName}" placeholder="name">
    <br/><br>

    <label for="address">duration</label>
    <div>
    <input id="address" type="date" th:field="${course.duration}">
    </div>
    <br><br>

<!--    <label >Choose a company</label>-->
<!--    <label>-->
<!--        <select th:field="*{companyId}">-->
<!--            <option th:each="company:${companyList}"-->
<!--                    th:value="${company.getId()}"-->
<!--                    th:text="${company.companyName}">-->
<!--            </option>-->
<!--        </select>-->
<!--    </label>-->

<!--    <br><br>-->

    <input type="submit" value="update"/>

</form>
<div>
    <a th:href="@{/api/courses}">
        <button>go back</button>
    </a>
</div>
</body>
</html>